LOAF_API_BASE=https://api.loafmarkets.com
LOAF_API_KEY=
LOAF_TOKEN_NAME=terafab
LOAF_PROPERTY_ID=
LOAF_LIVE_TRADING=false
LOAF_LOOP_SECONDS=5
LOAF_ORDER_SIZE=2
LOAF_MAX_INVENTORY=40
LOAF_MAX_NOTIONAL_PER_ORDER=1500
LOAF_MAX_SPREAD_PCT=1.50
LOAF_QUOTE_OFFSET_BPS=2
LOAF_DAILY_LOSS_LIMIT=3000
LOAF_MAX_CONSECUTIVE_ERRORS=5
LOAF_TARGET_VOLUME=30000000
